.queroDoarSection {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
        font-size: 24px;
    }
}

form {
    height: 70vh;
    width: 30%;
    border: solid #005695;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    div{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color:#005695;

        h2 {
            font-size: 20px;
            padding-left: 30px;
            
        }

    }

    input {
        width: 90%;
        height: 5vh;
        border: solid #005695;
        border-radius: 15px;
        padding-left: 20px;

        &::placeholder {
            color: #000;
        }
    }
}

.buttonDoar {
    width: 50%;
    height: 8vh;
    font-size: 24px;
    background-color: #005695;
    color: #FFF;
    cursor: pointer;
    padding: 0;
}

@media(max-width:780px){
.queroDoarSection {
    height: 100vh;

    p{
        width: 70%;
        font-size: 18px;
        text-align: center;
    }
}
form {
    width: 90%;

    h2 {
        font-size: larger20px;
    }

}
}