    .footer {
        background-color: #005695;

        p {
            color: #FFFFFFDB;
            display: flex;

        }

        img {
            width: 1.5rem;

        }
    }

    a {
        cursor: pointer;
    }

    .sectionRedesSocias {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

    }

    .ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .final {
        height: 25px;
        color: #FFFFFFDB;
        background-color: #232020;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 12px;
        }

    }