.contatosFooter {
    height: 15vh;
    background-color: #005695;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#FFFFFFDB;

    nav {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.copyright {
    height: 8vh;
    background-color: #232020;
    color:#FFFFFFDB;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 15px;
    }
    

}